.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 245px;
  background-color: #f0f0f0; /* 사이드바 배경색 */
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 중앙 정렬 대신 위쪽 정렬 유지 */
  padding: 20px;
  box-sizing: border-box;
}
